.weeksOnList {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    font-size: 0.8em;
}

.description {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0px 0px 20px 0px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
}

.amazonLink {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttonAmazon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.amazonText {

    background-color: rgb(254, 153, 1);
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 20px 0 10px;
    border: 2px solid rgb(0, 0, 0);
}