.cardDetails {
    border: 2px solid black;
    margin: 10px 10px 30px 10px;
    width: 180px;
    height: 560px;
    display: block;
    border-radius: 10px;
}


.cardDetailsParent {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}